*{
    margin: 0;
    padding: 0;
    /* border: 1px solid grey; */
}

body {
    background-color: gainsboro;
}

.allCards {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    margin-left: 19%;
    margin-right: auto;   
    margin-top: 4%;
    margin-bottom: 2%;
}
.memorycard {
    margin-bottom: 1%;
    margin-right: 1%;
    width: 20%;
    height: 200px; 
    box-shadow: 0px 5px 6px 0px rgb(122, 121, 121);  
    border-radius: 5%;
    position: relative;
    perspective: 1000px;

}

.card-back img {
    width: 60%;
    height: 60%;
    margin-left: 20%;
    margin-top: 14%;
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
}

.card-front {
    background-color: #ccc;
}

.card-back {
    background-color: #eee;
}

.flip .card-back {
    transform: rotateY(0);
}

.flip .card-front {
    transform: rotateY(180deg);
}

.rotate {
    animation: rotate 0.5s linear;
}

@keyframes rotate {
    from {
        transform: rotateY(180deg);
    }
    to {
        transform: rotateY(0deg);
    }
}

.memorycard.disabled {
    pointer-events: none;
}

.settings {
    display: flex;
}
.match-counter {
    position: relative;
    top: 30px;
    left : 20px;
    font-size: 24px;
    font-weight: bold;
    color: #333333;
    background-color: #ccc;
    padding: 5px 16px 4px 16px;
    border-radius: 30px;
  }
  
.time-left {
    position: relative;
    top: 30px;
    left : 20px;
    font-size: 24px;
    font-weight: bold;
    color: #333333;
    background-color: #ccc;
    padding: 5px 16px 4px 16px;
    border-radius: 30px;
    margin-left: 10px;
}

.btn{
    position: relative;
    top: 30px;
    left : 20px;
    margin-left: 10px;
    font-size: 22px;
    font-weight: bold;
    color: #333333;
    background-color: #ccc;
    padding: 5px 16px 4px 16px;
    border-radius: 30px;
    border-color: yellow;
    cursor: pointer;
    transition: all 0.3s ease;
;}

.btn:hover {
    border-color: yellowgreen;
    background-color: yellow;
    color: darkblue;
  }

.btn:active {
    background-color: red;     /*when it's clicked*/
}

.btn.show {
    display: block;
}

.win {
    background-color: yellow;
    color: rgb(122, 119, 119);
    font-weight: bold;
    text-align: center;
    display: none;
  }
  
.win.show {
    display: block;
  }
  